// Sidebar Styling

.block {

    &:first-child {
        margin-top: 1rem;
        opacity: .2;
    }

    &:not(:last-child) &__box {
        margin: 0 3.7rem 5rem 14rem;
        background: $color-white;
    }

    &:last-child &__box &__text {
        margin-left: 0;
        padding-left: 5rem;
        background-image: linear-gradient(to bottom, $color-white, transparent);
    }

    position: relative;
    
    &__box {
        width: 20.3rem;
        height: 12rem;
        box-shadow: 0 2.1rem 2.1rem 0 rgba($color-black, 0.15);
        margin: 0 3.7rem 1rem 14rem;
    }

    &__text {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 1.6rem;
        font-weight: 600;
        margin-left: 5rem;
    }

    &__heading {
        margin-bottom: 1rem;
        letter-spacing: .2rem;
        font-family: "Monserrat-Bold", Fallback, sans-serif;
        text-transform: uppercase;
    }

    &__subheading {
        font-size: 1.5rem;
        color: $color-text-grey;
        letter-spacing: 0.47px;
        line-height: 1.9rem;
        opacity: 0.5;
    }

    &__image {
        position: absolute;
        top: -1rem;
        left: 4rem;
    }

    &:nth-child(2) &__box {
        width: 23.3rem;
        height: 14rem;
        box-shadow: 0 2.1rem 2.1rem 0 rgba($color-black, 0.15);
        margin: 0 0 5rem 4rem;
        position: relative;
    }

    &:nth-child(2) &__image {
        position: absolute;
        top: -2rem;
        left: 22.7rem;
    }

    &:nth-child(2) &__box &__text {
        align-items: flex-start;
        margin-left: 4rem;
    }

    &__icon {
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 37.4rem;
        bottom: 0;
        background-image: linear-gradient(135deg, $color-primary-2, $color-secoundary-2);
        box-shadow: 0 25px 25px 0 rgba($color-black, 0.15);
        visibility: hidden;
    }

    &:nth-child(2) &__icon {
        visibility: visible;
    }


    @include change(tab-port) {
        &:first-child {
            margin-top: 1.4rem;
        }
    
        &:not(:last-child) &__box {
            margin: 0 6.2rem 6.2rem 5rem;
        }
    
        &:last-child &__box &__text {
            margin-left: 0;
            padding: 0;
            opacity: .2;
        }
    
        &__box {
            width: 12rem;
            height: 12rem;
            margin: 0 6.2rem 0 5rem;
        }
    
        &__text {
            justify-content: flex-end;
            align-items: center;
            font-size: 1.6rem;
            margin-left: 0;
        }
    
        &__heading {
            font-size: 1.1rem;
        }
    
        &__subheading {
            display: none;
        }
    
        &__image {
            top: -3rem;
            left: 4rem;
        }
    
        &:nth-child(2) &__box {
            width: 12rem;
            height: 12rem;
            margin: 0 6.2rem 7.3rem 5rem;
            visibility: hidden;
        }
    
        &:nth-child(2) &__image {
            position: absolute;
            top: -2rem;
            left: 8.4rem;
        }
    
        &:nth-child(2) &__box &__text {
            align-items: flex-start;
            margin-left: 4rem;
        }
    
        &__icon {
            left: 22.4rem;
            top: 9.6rem;
        }
    }
}


// Main Heading Styling

.heading {
    display: flex;
    justify-content: space-between;
    margin: 8.3rem 11.8rem 7.3rem 11.8rem;

    @include change(tab-port) {
        margin: 8.3rem 7rem 7.3rem 7rem;
    }

    @include change(phone) {
        margin: 8rem 3rem 7.3rem -9rem;
        position: relative;
        z-index: 1;
    }

    &__text {
        font-family: "Monserrat-Bold", Fallback, sans-serif;
        font-size: 48px;
        text-transform: uppercase;
        letter-spacing: .84rem;
    }

    &__box {
        width: 5.6rem;
        height: 5.6rem;
        background-image: linear-gradient(135deg, $color-primary-2, $color-secoundary-2);
        display: flex;
        justify-content: center;
        align-items: center;

        @include change(phone) {
            width: 3rem;
            height: 3rem;
            margin-top: -4.7rem;
            background: transparent;
        }
    }
}

// SubHeading Styling

.subheading {
    display: flex;
    justify-content: space-between;
    margin: 8.3rem 11.8rem 6.6rem 11.8rem;
    @include change(tab-port) {
        margin: 8.3rem 7rem 7.3rem 7rem;
    }

    @include change(phone) {
        margin: 8.3rem 3rem 7.3rem 4rem;
    }

    &__text {
        font-family: "Monserrat-Bold", Fallback, sans-serif;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: .512rem;
        text-shadow: 0 2rem 2.5rem rgba($color-black, 0.15);
    }

    &__box {
        width: 4.2rem;
        height: 2.4rem;
        background-color: $color-black;
        box-shadow: 0 1.2rem 1.2rem 0 rgba($color-black, 0.15);
        border-radius: 6rem;
        position: relative;

        @include change(phone) {
            margin-top: -3rem;
            width: 6.2rem;
        }
    }

    &__box::after {
        content: "";
        position: absolute;
        width: 1.4rem;
        height: 1.4rem;
        background-color: $color-white;
        border-radius: 50%;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
    }
}

// Divider Styling

.divider {
    display: flex;
    justify-content: space-between;
    margin: 0 11.8rem;
    @include change(tab-port) {
        margin: 0 7rem;
    }

    @include change(phone) {
        margin: 0 3rem 0 4rem;
    }

    &__text {
        font-family: "Monserrat-Bold", Fallback, sans-serif;
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: .15rem;
        color: $color-primary;
        margin-right: 1.4rem;
    }

    &__dash {
        flex: 1;
        border-top: 1px dashed $color-primary;
        margin: auto;
    }
}

// Shades Styling

.shades {
    display: flex;
    margin: 0 12rem;
    justify-content: space-between;

    @include change(tab-port) {
        margin: 0 5rem;
    }

    @include change(phone) {
        margin: 4.9rem 3rem 1.8rem 1rem;
        width: 218px;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 14rem;
    }

    &__box {
        width: 3.2rem;
        height: 3.2rem;
        box-shadow: 0 1rem 1rem 0 rgba($color-black, 0.15);
        margin: 4.9rem 0 7.8rem 0;

        @include change(phone) {
            margin: 0;
            margin-left: 4rem;
        }
    }

    &__box--1 {
        background-color: #FF4563;
        transform: scale(1.5);
        display: flex;
        justify-content: center;
        align-items: center;

        &__icon--tick {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    &__box--2 {
        background-color: #8245E6;
    }

    &__box--3 {
        background-color: #4AC0E0;
    }

    &__box--4 {
        background-color: #1089EB;
    }

    &__box--5 {
        background-color: #C791CD;
    }
}

// Modes Styling

.mode {
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;

    &__container {
        display: flex;
        margin: 4rem 12rem 0 12rem;
        justify-content: space-between;

        @include change(tab-port) {
            margin: 4rem 7rem 0 7rem;
        }

        @include change(phone) {
            margin: 4rem 3rem 0 4rem;
        }
    }

    &__container--big {
        position: relative;
        margin-top: 4.8rem;
    }

    &__container--big::after {
        content: "";
        position: absolute;
        width: 105%;
        height: 5.6rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(135deg, $color-primary 0%, $color-secoundary  100%);
        z-index: -10;
    }

    &__item1 {
        display: flex;
        align-items: center;
        flex: 0 0 35%;

        @include change(phone) {
            margin-left: 1rem;
        }
    }

    &__icon--1 {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 2.3rem;
    }

    &__icon--2 {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1rem;
    }

    &__text {
        font-size: 1.8rem;
        letter-spacing: 0.056rem;
    }

    &__item2 {
        opacity: 0.6;
        font-size: 1.8rem;
        letter-spacing: 0.056rem;

        @include change(phone) {
            display: none;
        }
    }

    &__container--big > &__item2 {
        color: $color-white;
        opacity: 1;
    }

    &__container--big &__item1 > &__text {
        color: $color-white;
    }
}

// Intensity Styling

.arc {
    width: 30rem;
    height: 15.1rem;
    margin: 3rem 0 0 10.3rem;
    position: relative;

    @include change(tab-port) {
        margin: 4rem 0 0 4.5rem;
    }

    @include change(phone) {
        width: 19.8rem;
        height: 9.85rem;
        margin: 4rem 3rem 0 4.5rem;
    }
    
    &__block {
        margin: 2rem;
        height:13rem;
        width:26rem;
        border-radius: 26rem 26rem 0 0;
        border:2px solid rgba(#979797, .6);
        border-bottom: 0;
        
        display: flex;
        justify-content: center;
        align-items: flex-end;

        position: relative;

        @include change(phone) {
            width: 15.5rem;
            height: 7.75rem;
        }
    }

    &__block::before {
        content: "";
        position: absolute;

        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
        background-image: linear-gradient(135deg, $color-primary 0%, $color-secoundary  100%);
        top: -1.3rem;
        z-index: 1;
    }

    &__text {
        font-family: "Monserrat-Bold", Fallback, sans-serif;
        font-size: 4rem;
        letter-spacing: .64rem;
        text-shadow: 0 2rem 2.5rem rgba($color-black, 0.15);
        z-index: 1;
    }

    &__border {
        background-image: linear-gradient(to right, $color-primary 0%, $color-secoundary  100%);
        height:13rem;
        width:14rem;
        border-radius: 26rem 0 0 0;

        position: absolute;
        top: 0;

        @include change(phone) {
            height: 8rem;
            width: 9rem;
        }
    }

    &__border--block {
        height: 13rem;
        width: 14rem;
        border-radius: 26rem 0 0 0;
        background-color: #FEFFFE;
        margin: 6px;

        @include change(phone) {
            height: 8rem;
            width: 9rem;
        }
    }
}

// Back Icon

.back__icon{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 3.3rem;
    left: 2rem;
}