.layout {
    min-height: 100vh;
    display: flex;

    &__sidebar {
        height: 100%;
        flex: 0 0 38rem;
        background-image: linear-gradient(-180deg, $color-primary 0%, $color-secoundary 100%);
    }

    &__container {
        height: 100%;
        flex: 1;
    }
}