.layout {
    height: 100vh;
    display: flex;

    &__sidebar {
        height: 100%;
        flex: 0 0 38rem;
        background-image: linear-gradient(#AD6BFF 0%, #958CFC 30%, #9291FB 100%, #8D98FB 85%, #74BCF7 0%);
    }

    &__container {
        height: 100%;
        flex: 1;
        background-color: blue;
    }
}