$color-primary: #AD6BFF;
$color-secoundary: #74BCF7;

$color-primary-2: #DEFFC9;
$color-secoundary-2: #A3F8FF;

$color-black: black;
$color-white: #FEFFFE;

$color-text-grey: #666666;

@mixin change($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 376px){ @content };
    }

    @if $breakpoint == tab-port {
        @media (max-width: 768px){ @content };
    }
}